<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Definições de estilo e meta tags essenciais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ricardo Andreotti Gonçalves">
    <meta name="keywords" content="Login, Acesso, Aviso"> <!-- Adicionei palavras-chave relevantes -->
    <link rel="stylesheet" href="~/css/styleAviso.css">
    <meta charset="UTF-8">
    <title>Innovation Degree</title>
</head>

<body>

    <!-- Conteúdo principal da página -->
    <div class="main">
        <div class="container">

            <!-- Mensagem de aviso para o usuário -->
            <h3 class="display-2">Você precisa fazer o login</h3>
            <br>

            <!-- Botão para redirecionar o usuário à página de login -->
            <a href="/Usuarios/Login" class="btn btn-outline-success btn-lg">Fazer login</a>

            <br>

        </div>
    </div>

</body>
</html>