<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Link para folhas de estilo e meta tags essenciais -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ricardo Andreotti Gonçalves">
    <meta name="keywords" content="Logout, Sair, Sistema"> <!-- Atualizei palavras-chave -->
    <link rel="stylesheet" href="~/css/styleLogout.css">
    <meta charset="UTF-8">
    <title>Logout - Innovation Degree</title> <!-- Título mais descritivo -->
</head>

<body>

    <!-- Conteúdo principal da página -->
    <div class="main">
        <div class="container">

            <!-- Mensagem de logout -->
            <h1>Você saiu do sistema!</h1>
            <br><br>

            <!-- Botão para voltar ao início -->
            <a asp-area="" asp-controller="home" asp-action="index" class="btn">
                <button class="btn">INÍCIO</button>
            </a>

        </div>
    </div>

</body>
</html>